{% extends "base.html" %}
{% load staticfiles %}
{% block style_base %} 
<!--<link href='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.css' rel='stylesheet' />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>-->
    <link href="{% static "fullcalendar/fullcalendar.css" %}" rel="stylesheet">
<style type="text/css">
body {
	color: #8b91a0;
	direction: ltr;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

.fc-button {
	color: #858585 !important;
	height: 40px !important;
	line-height: 40px;
	opacity: 0.6;
  	background:#fff;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}
</style>
	{% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}  
	<div id='calendar'></div>
	{% block content %} {% endblock %}     

{% endblock %}


{% block javascript %}
	<!--
	<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
	<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
	<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>-->

	<script src='{% static "fullcalendar/lib/moment.min.js" %}'></script>
	<script src='{% static "fullcalendar/fullcalendar.min.js" %}'></script>
	<script>
		$(document).ready(function() {			
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,basicWeek,basicDay'
				},
				defaultDate: '2014-09-12',
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: [
					{
						title: 'All Day Event',
						start: '2014-09-01'
					},
					{
						title: 'Long Event',
						start: '2014-09-07',
						end: '2014-09-10'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2014-09-09T16:00:00'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2014-09-16T16:00:00'
					},
					{
						title: 'Conference',
						start: '2014-09-11',
						end: '2014-09-13'
					},
					{
						title: 'Meeting',
						start: '2014-09-12T10:30:00',
						end: '2014-09-12T12:30:00'
					},
					{
						title: 'Lunch',
						start: '2014-09-12T12:00:00'
					},
					{
						title: 'Meeting',
						start: '2014-09-12T14:30:00'
					},
					{
						title: 'Happy Hour',
						start: '2014-09-12T17:30:00'
					},
					{
						title: 'Dinner',
						start: '2014-09-12T20:00:00'
					},
					{
						title: 'Birthday Party',
						start: '2014-09-13T07:00:00'
					},
					{
						title: 'Click for Google',
						url: 'http://google.com/',
						start: '2014-09-28'
					}
				]
			});
			
		});
	</script>
    {% block extra_script %}{% endblock %}
{% endblock %}    
